@model AFOP_OPTICAL_TESTINGv5.Models.Tblsetupdut

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center;">EDITAR TABLA</h1>

@using (Html.BeginForm("Edit", "Tblsetupdut", FormMethod.Post))
{
    <h2 style="text-align:center;">ID: @Model.Id</h2>
    <br />

    <div class="form-group" style="text-align:center;">
        <input type="hidden" style="text-align:center;" id="CompanyId" name="CompanyId" value="@Model.CompanyId" />
        <label style="text-align:center;">Nombre del DUT:</label><br />
        <input type="text" style="text-align:center;" id="Name" name="Name" value="@Model.Name" />
        <br />
        <label style="text-align:center;">Descripcion:</label><br />
        <textarea name="Description" rows="2" cols="50" style="text-align:center;" id="Description">@Model.Description</textarea>
        <br />
        <label style="text-align:center;">Numero de Parte:</label><br />
        <input type="text" style="text-align:center;" id="PartNumber" name="PartNumber" value="@Model.PartNumber" />
        <br />
        <input type="hidden" style="text-align:center;" id="Type" name="Type" value="@Model.Type" />
        <label style="text-align:center;">Numero de Fibras:</label><br />
        <input type="text" style="text-align:center;" id="Fibers" name="Fibers" value="@Model.Fibers" />
        <br />
        <input type="hidden" style="text-align:center;" id="PortNames" name="PortNames" value="@Model.PortNames" />
        <label style="text-align:center;">Activar:</label><br />
        <input type="text" style="text-align:center;" id="IsActive" name="IsActive" value="@Model.IsActive" />
        <br />
        <br />
        <input type="submit" value="ACTUALIZAR" class="btn btn-primary" />
        <input type="reset" value="RESTABLECER" class="btn btn-primary" />
        <br />
        <br />
        <a href="@Url.Action("Index", "Tblsetupdut")">CANCELAR</a>
    </div>
}
